/**
    Name: Steve's Country Favorites
    Author: Steve Fischer
    Date: 11/12/2020
    Other Files: about.htm, artists.htm, index.htm, scf.js, songs.htm
**/

/** Imported Fonts **/

@font-face {
    font-family: Rio Grande;
    src: url("Fonts/RioGrande.ttf");
}
@font-face {
    font-family:Montague;
    src: url("Fonts/Montague.ttf");
}

/** Background Styles **/

body {
    background-color: rgb(239,228, 176);
    margin: 0px;
   

}

header {
    
    background-color: lightgray;
    padding: 10px;
    border: 5px dashed white; 
}

footer {
    background-color: lightgray;
    margin-top: -9px;
    text-align: center;
    border: 5px dashed white; 
}
/** hr Styles **/
hr{
   border-top: 5px solid grey;
   width: 450px;
   margin: 0px;
   left: 7.5%;
   position: sticky;
    
}
/** Heading Styles **/
h1{
    font-family: Rio Grande;
    font-size: 35px;
    text-align: left;
    color: #654321;
    margin: 15px 0 0 7%;
   
}

h2 {
    font-family: Rio Grande;
    font-size: 26px;
    text-align: left;
    margin: 0px 0 0 7%;
    margin-bottom: 20px;
    color: black;
}

h3{
    font-family: Rio Grande;
    font-size: 75px;
    text-align: center;
    color: #654321;
}

h4{
    font-family: Rio Grande;
    font-size: 40px;
    text-align: center;
    color: black;
    margin: 3%;
    
}
/** Navigation Styles **/
ul{
  font-family: bold;
  list-style-type: none;
  margin-top: -70px;
  text-align: right;
  margin-bottom: 50px;
}

li {
 display: inline-block;
 margin: 0 50px 0 20px;
 color: dimgrey;

 
}

li a {
  font-family: monospace;  
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color:
}

li a:hover {
	color: black;
}

a:hover {
	color: black;
}

a{
  font-family: monospace;  
  color: grey;
  top: 50%;
  left:20%;
  text-decoration: none;
  font-size: 20px;
}

/** Intro Styles **/

.intro {
    font-family: Rio Grande;
    text-align: center;
    margin: 5%;
    padding: 15px;
    padding-bottom: 75px;
    background-color: white;
}

/** Paragraph Styles **/
p{
    font-family: Montague;
    font-size: 27px;
    margin: 0 8%;
}

/** Footer Styles **/

#footerNav {
    font-size: 15px;
    
    margin: 0px 33%;
}


.popup{
	display: none; 
	padding-bottom: 20px;
}

.copy {
    text-align: center;
}

/** Buitton Styles **/

button {
  font-family: Montague;
  background-color:#654321;
  border-radius: 50px; 
  border: none;
  color: white;
  padding: 6px 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  
}

#footNav{
   text-align: center;
}
.spotify{
    width: 500px;
    height: 80px;
    display: none;
    
}

#one, #two, #three, #four, #five,
#six, #seven, #eight, #nine, #ten{
    padding-top: 15px;
}